body {
    font-size: 0.12rem;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    display: -webkit-flex;
    -webkit-flex-direction: column;
}


.header {
    background-color: #f74d4d;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
}

.header .title {
    font-size: 0.16rem;
    text-align: center;
    height: 0.45rem;
    line-height: 0.45rem;
    color: #fff;
}

.header .title .back,
.header .title .more {
    position: absolute;
    color: #fff;
}

.header .title .back {
    left: 0.1rem;
}

.header .title .more {
    right: 0.1rem;
}

.header .title h3 {
    font-weight: normal;
}

.content {
    -webkit-flex: 1;
    flex: 1;
    position: relative;
}

.footer .footer-nav {
    height: 0.45rem;
    text-align: center;
    display: -webkit-flex;
    background-color: #f74d4d;
    border-top: 1px solid #ccc;
    box-sizing: border-box;
}

.footer .footer-nav>li {
    -webkit-flex: 1;
}

.footer .footer-nav>li a {
    color: #fff;
    display: inline-block;
    padding-top: 0.08rem;
    padding-bottom: 0.08rem;
    box-sizing: border-box;
}

.footer .footer-nav>li a i,
.footer .footer-nav>li a span {
    display: block;
}


.summary{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 35px;
    line-height: 35px;
    background-color: #ff7200;
}